<html>
	<head>
		<title>Leaflet Mobile Map</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	</head>
	<body>
	GO TO NEW PAGE
		<button type="button" class="btn btn-info" onclick="$(location).attr('href', 'http://localhost:1337/security/new')">Add</button> 	
	</body>
</html>
