<div id="email-password">
	<form action="/email" method="POST" class="form-email-password">
		<h1>Email Link</h1>
		
		<% if(flash && flash.err) { %>
			<ul class="alert alert-success">
				<% Object.keys(flash.err).forEach(function(error) { %>
					<li><%- JSON.stringify(flash.err[error]) %></li>
				<% }) %>
			</ul>
		<% } %>
		
		<div class="control-group">
				<input type="text" class="form-control" placeholder="Email..." name="email">
				<br/>
			</div>
			<input type="submit" id="passwordSubmitEmail" class="btn btn-lg btn-primary btn-block" value="Send Email" />
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	
	</form>
</div>