<div id="reset-password">
	<form action="/user/updatepassword" method="POST" class="form-reset">
		<img id="loading-image" src="/images/mblais.png" width="100" height="100" alt="Loading..." />
		<h1>Reset Password</h1>
		<% if(flash && flash.err) { %>
			<ul class="alert alert-success">
				<% Object.keys(flash.err).forEach(function(error) { %>
					<li><%- JSON.stringify(flash.err[error]) %></li>
				<% }) %>
			</ul>
		<% } %>
		<div class="control-group">
			<input type="text" class="form-control" value="<%= currentUserId %>" name="reset-userId" readonly>
			<br/>
		</div>
	
		<div class="control-group">
			<input type="text" class="form-control" placeholder="Email..." name="email">
			<br/>
		</div>
		<div class="control-group">
			<input type="password" id="password" class="form-control" placeholder="New Password..." name="password">
			<br/>
		</div>
		<div class="control-group">
			<input type="password" class="form-control" placeholder="Repeat Password..." name="confirmation">
			<br/>	
		</div>
	
		<button type="submit" id="updatePassword" class="btn btn-lg btn-primary">Update Password</button>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	
	</form>
</div>