<html>
	<head>
		<title>Leaflet Mobile Map</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	</head>
	<body> 	
		<form action="/forms/create" method="post" id="form-form">
			<% if(flash && flash.err) { %>
				<ul class="alert alert-success">
					<% Object.keys(flash.err).forEach(function(error) { %>
						<li><%- JSON.stringify(flash.err[error]) %></li>
					<% }) %>
				</ul>
			<% } %>
			<div class="form-group">
			  <label for="form-name">Form Name:</label>
			  <input type="text" class="form-control" id="form-name" name="form-name">
			</div>
			<div class="form-group">
			  <label for="collection">Collection:</label>
			  <input type="text" class="form-control" id="collection" name="collection">
			</div>
			<div class="form-group">
			  <label for="form-description">Description:</label>
			  <textarea class="form-control" rows="5" id="form-description" name="form-description"></textarea>
			</div>
			<div class="form-group">
			  <label for="form-sec">Security:</label>
			  <input type="text" class="form-control" id="form-sec" name="form-sec">
			</div>
			<input type="submit" value="Submit" class="btn btn-primary" style="display: block; margin: 0 auto"/>
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		</form>
		
	</body>
</html>