#user-table, #user-title {
  display: none;
  opacity: 0;
}

/* Loading Page */
.vcenter {
  z-index: 10;
  position:absolute;
  top: 40%;
}

#user-header > th, #user-records > td{
  padding: 10px;
}

.users{
  padding-left: 15px;
  padding-right:15px;
}

//Reset Password Page
div#reset-password{
  width: 100%;
  > .form-reset{
    width: 30%;
    height: 60vh;
    margin: 0 auto;
    text-align: center;
    position: relative;
    -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
    transform: translateY(30%);
    > #updatePassword{
      margin: 0 auto;
    }
  }
}

//Email Password Page
div#email-password{
  width: 100%;
  > .form-email-password{
    width: 30%;
    height: 60vh;
    margin: 0 auto;
    text-align: center;
    position: relative;
    -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
    transform: translateY(30%);
    > #passwordSubmitEmail{
      margin: 0 auto;
    }
    > .newSessionLink{
      text-decoration: none;
      display: block;
      margin-top: 2%;
    }
  }
}

//Edit User Page
#uploadProfileImg{
  margin-bottom: 10px
}



